{erl_opts, [no_debug_info]}.
{deps, [{getopt, "0.8.2"}]}.

{escript_incl_apps,
 [par]}.
{escript_main_app, par}.
{escript_name, par}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.

{pre_hooks,
  [{compile, "$REBAR_ROOT_DIR/bin/par -o ebin $REBAR_ROOT_DIR/src/lexer.par"},
   {compile, "$REBAR_ROOT_DIR/bin/parse_utils"}]}.
