{erl_opts, [no_debug_info]}.
{deps, [{getopt, "0.8.2"}, {unite, "0.2.0"}]}.

{escript_incl_apps, [par]}.
{escript_main_app, par}.
{escript_name, par}.
{escript_emu_args, "%%! +sbtu +A0\n"}.
{escript_incl_extra, [{"par/src/lib/*.par", ".."}]}.

{profiles, [
  {test, [{erl_opts, [debug_info]}]}
]}.

{eunit_opts, [no_tty, {report, {unite_compact, []}}]}.
% {eunit_opts, [{eunit_formatters, false}]}.
