{erl_opts, [no_debug_info]}.
{deps, [{getopt, "0.8.2"}, {unite, "0.2.0"}]}.

{escript_incl_apps, [par]}.
{escript_main_app, par}.
{escript_name, par}.
{escript_emu_args, "%%! -escript main par\n"}.
{escript_incl_extra, [
  {"par/priv/stdlib/*", ".."}
]}.

{profiles, [
  {test, [{erl_opts, [debug_info]}]}
]}.

{eunit_tests, [
  {inparallel, 8, [
    parser_test,
    reporter_test,
    type_system_test,
    pattern_test
  ]},
  % bootstrap test needs to set BOOTSTRAP=1, so it's separate
  bootstrap_test,
  % stdlib loads new stdlibs, so it's separate
  stdlib_test,
  % exec isn't parallelizable yet; can't load modules with the same name
  exec_test,
  pattern_exec_test
]}.

{eunit_opts, [no_tty, {report, {unite_compact, []}}]}.
% {eunit_opts, [{eunit_formatters, false}]}.
